.plus{
	position: absolute;
	font-weight: bold;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
.plus div{
	position: absolute;
	white-space: nowrap;
}
.plus img{
	position: absolute;
}